<div class="grid grid-cols-3">
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
  <img src="../../../assets/images/a.gif" alt="cursed" />
</div>
