<div id="main" class="grid">
  <div class="mt-16 grid lg:grid-cols-3 md:justify-self-center">
    <div></div>
    <h1 class="text-6xl mt-5">Benvenuto!</h1>
    <img
      src="../../../assets/images/hello-pikachu.gif"
      alt="Gif Pikachu"
      class="h-24 md:mt-5 md:justify-self-center"
    />
  </div>
  <p class="text-lg justify-self-center mt-12 text-center">
    Tramite i pulsanti qui sotto, è possibile cercare un Pokémon tramite il nome
    o l'id oppure generare un Pokémon random e visualizzarne alcuni dati:
    immagine, tipo, stats, etc.
  </p>
  <p class="text-m justify-self-center mt-2 text-justify">
    (Mini tip: per tornare alla homepage basta cliccare sulla pokéball che
    comparirà in alto a sinistra!)
  </p>
  <div class="justify-self-center space-x-28 mt-14">
    <button routerLink="/cercaPokemon" class="btn">Cerca Pokémon</button>
    <button routerLink="/cercaPokemon" (click)="submit()" class="btn">
      Pokémon random
    </button>
  </div>
</div>
