<button routerLink="/cercaPokemon" class="bg-slate-400">Cerca Pokémon</button>
<p>Homepage</p>
<h1>Homepage</h1>
<h2>Homepage</h2>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro laboriosam praesentium voluptatem, nisi doloremque sapiente vel corporis illo! Corporis, vero esse. Optio explicabo possimus aspernatur necessitatibus voluptatibus, inventore accusantium harum.</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>
<p>Homepage</p>