<div id="main" class="grid">
    <img 
    src="../../../assets/images/pokédex.png" 
    alt="Logo pokédex"
    class="h-24 justify-self-center mt-32"/>
    <p class="text-lg justify-self-center mt-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium ipsa blanditiis eaque sapiente placeat, perspiciatis laudantium quisquam quasi. Esse consectetur doloribus itaque cupiditate, provident non temporibus nulla omnis repellat!
        Nihil nesciunt, adipisci necessitatibus quibusdam quam a omnis, saepe officia explicabo obcaecati expedita ea provident commodi ducimus rem facilis velit culpa quidem corporis. Illo dolorem placeat, vero autem assumenda quibusdam.
        Doloremque error ratione culpa magni, tempora voluptate in nemo temporibus reiciendis minima vero perferendis sed laudantium expedita natus ipsa tenetur eveniet alias odio quisquam nesciunt officia officiis! Impedit, natus mollitia.
    </p>
    <div class="justify-self-center space-x-28 mt-14">
        <button routerLink="/cercaPokemon" class="btn btn-blue">Cerca Pokémon</button>
        <button routerLink="/cercaPokemon" class="btn btn-blue">Pokémon random</button>
    </div>
</div>