<div class="grid">
    <h1 class="text-3xl justify-self-center mt-3">Pagina non trovata!</h1>
    <img 
        src="../../../assets/images/sad-pikachu.gif" 
        alt="Sad Pikachu gif"
        class="rounded justify-self-center mt-3 mb-3 cursor-pointer"
        routerLink="/"/>
    <p class="text-l justify-self-center">Clicca su questo Pikachu tristissimo per tornare alla homepage</p>
    <!-- CURSED <img 
        src="../../../assets/images/a.gif" 
        alt="Sad Pikachu gif"
        class="rounded justify-self-center mt-3 mb-3 cursor-pointer"
        routerLink="/"/> -->

</div>