<div class="h-32">
  <div class="grid grid-cols-5">
    <div class="col-span-2"></div>
    <div class="justify-self-center">
      <input class="mt-10 shadow appearance-none border rounded w-72 py-2 px-3 text-gray-700 leading-tight focus:outline-none" id="input" type="text" placeholder="Nome o ID">
    </div>
    <div>
      <button class="mt-9">
        <img 
        src="../../../assets/images/icon.svg" 
        class="h-12 cursor-pointer" 
        alt="Homepage"/>
      </button>
    </div>
  </div>
</div>