<div>
  <div class="ml-3 mt-3">
    <label for="gen" class="block mb-2 text-xl font-medium"
      >Seleziona una generazione</label
    >
    <select
      required
      [ngModel]="gen"
      (ngModelChange)="onChange($event)"
      class="ml-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-64 p-2.5"
    >
      <option selected></option>
      <option [ngValue]="1">1</option>
      <option [ngValue]="2">2</option>
      <option [ngValue]="3">3</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="5">5</option>
      <option [ngValue]="6">6</option>
      <option [ngValue]="7">7</option>
      <option [ngValue]="8">8</option>
      <option [ngValue]="9">9</option>
    </select>
  </div>
  <ng-container *ngIf="gen !== 0; else notGen">
    <div class="grid grid-cols-8 mt-5 text-end mr-20">
      <ng-container *ngFor="let pokemon of pokemons; let i = index">
        <p
          class="col-span-1 mt-3 cursor-pointer"
          (click)="pokemonId(pokemon.name)"
        >
          {{ pokemon.name.replace("-", " ") | titlecase }} #{{ i }}
        </p>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #notGen>
    <app-alert [msg]="msg"></app-alert>
  </ng-template>
</div>
